.footer {
  width: 100%;
  border-top: 1px solid $white;
  padding: 20px 0;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.btn {
  font-size: 16px;
  color: $grey;
}
@include media(tablet) {
  .footer {
    padding: 30px 0;
  }
  .container {
    flex-direction: row;
    gap: 42px;
  }
  .btn {
    font-size: 20px;
  }
}
@include media(tablet) {
  .footer {
    padding: 40px 0;
  }
  .container {
    gap: 60px;
  }
  .btn {
    font-size: 22px;
    transition: color $animation-duration $animation-time-function;
    &:hover {
      color: $white;
    }
  }
}
