.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #fff;
}
.mycontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.userIcon {
  font-size: 32px;
  margin-top: 15px;
}
@include media(tablet) {
  .header {
    height: 60px;
  }
  .mycontainer {
    height: 60px;
  }
  .userIcon {
    font-size: 32px;
    margin: 0;
  }
}
@include media(desktop) {
  .header {
    height: 100px;
  }
  .mycontainer {
    height: 100px;
  }
  .userIcon {
    font-size: 48px;
    &:hover {
      fill: $yellow;
      transition: fill $animation-duration $animation-time-function;
    }
  }
}
